.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg);
  /* border: 2px solid red; */
  font-family: "Poppins", sans-serif;
}

.sidebar {
  flex: 1;
}

.analyticsContainer {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid green; */
  height: 100vh;
}

.heading {
  color: var(--blue);
  font-weight: 600;
  font-size: 2.5rem;
  padding: 3rem;
}

.tableContainer {
  width: 80%;
  overflow-y: auto;
  margin-bottom: 3rem;
}

.error {
  text-align: center;
  font-size: medium;
  color: var(--green);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalBox {
  z-index: 1000;
}
