.container {
  display: flex;
  background-color: var(--dark-bg);
  font-family: "Poppins", sans-serif;
}

.sidebar {
  flex: 1;
}

.dashboardContainer {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  height: 100vh;
}
.totalStats {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}

.trendingQuiz {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
}

.trendingQuiz .error {
  color: var(--green);
  align-self: center;
  text-align: center;
  margin: 4rem;
}

.heading {
  font-size: 1.75rem;
  height: 100%;
  font-weight: 600;
  color: var(--text-gray);
}

.trendingGrid {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgba(213, 211, 211, 0.68);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--label-gray);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalBox {
  z-index: 1000;
}
